html {
  overflow-y: scroll; /* Always show vertical scrollbar */
}
body {
  margin: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282b33;
  scroll-behavior: smooth;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
